<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <a target="_blank" href="https://starbot-c0hb.onrender.com"> <b>Dashboard</b> Version 1.0.0-beta</a>
  </div>
  <strong
    >Dashboard para <a href="https://discord.gg/ADf7yDraCh">Star Shop</a>. Creado por <a href="https://guns.lol/darkw4n">DarkW4n</a>. I love
    you <i class="fa fa-heart"></i> XD <a target="_blank" href="https://starbot-c0hb.onrender.com/selector">StarBot</a>.</strong
  >
</footer>

